@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to StrikeBuilder</h1>

    <a asp-controller="Strike" asp-action="Index">Build a Move Set</a>
</div>
