@model IEnumerable<Strike>

<h1>Build Your Combinations</h1>

<a asp-controller="Strike" asp-action="Select">Select a Strike</a>

<hr />

<div class="selectStrikeContainer">
    @foreach (var item in Model)
    {
        <form method="post" asp-action="Select" asp-route-id="@item.Id">
            <div class="savedStrike">
                <a asp-action="Info" asp-route-id="@item.Id">Info</a>
                <h3>@item.Name</h3>
                <p>@item.Description</p>
            </div>
        </form>
    }
</div>