@model IEnumerable<Strike>

<h1>Build Your Combinations</h1>

<a asp-controller="Strike" asp-action="Select">Select a Strike</a>

<br />

<form class="reset" method="post" asp-action="Clear">
    <button class="reset anchor" type="submit">Clear All</button>
</form>

<hr />

<div class="strikeContainer">
    @foreach (Strike strike in Model)
    {
        <div class="savedStrike">
            <a asp-action="Info" asp-route-id="@strike.Id">Info</a>
            <br />
            @* <span>Order: @item.Order</span> *@
            <h3>@strike.Name</h3>
            <p>@strike.ShortDescription</p>
        </div>
    }
</div>