html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*
    -----
    Mine
    -----
*/
.nav-link:hover {
    opacity: 50%;
}

.reset {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
}

.anchor {
    margin-top: 2px;
    color: #0d6efd;
    text-decoration: underline;
    border: none;
    -webkit-appearance: none;
}

.strikeContainer {
    text-align: center;
    display: flex;
    gap: 20px;
}

.selectStrike {
    padding: 10px;
    background-color: lightsteelblue;
    color: black;
    text-decoration: none;
}

.selectStrike:hover {
    opacity: 50%;
}

.savedStrike {
    
    padding: 10px;
    background-color: lightsteelblue;
    color: black;
    border: solid 2px black;
}

.image {
    max-width: 600px;
    max-height: 400px;
}